modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8724284394:AAFvWBGaFGdMWTgpkmINaToEj5WEYVUVw4Q"
TELEGRAM_CHAT_ID = "8546783642"
TELEGRAM_CHAT_IDS = "8566023537,8546783642"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 18455
externalPort = 3000
