modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8724284394:AAFvWBGaFGdMWTgpkmINaToEj5WEYVUVw4Q"
TELEGRAM_CHAT_ID = "8546783642"
ADMIN_USERNAME = "Imomdod"
ADMIN_PASSWORD = "LuxIm2026"
TELEGRAM_CHAT_IDS = "8546783642,8566023537"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18455
externalPort = 80

[nix]
channel = "stable-25_05"
